<%= form_for [@train, @wagon] do |f| %>
    <%= render 'common/errors', resource: @wagon %>

    <div class="field">
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :wagon_type %><br>
      <%= f.select(:wagon_type, Wagon::WAGON_TYPES) %>
    </div>

    <div class="field">
      <%= f.label :top_seats_count %><br>
      <%= f.text_field :top_seats_count %>
    </div>

    <div class="field">
      <%= f.label :bottom_seats_count %><br>
      <%= f.text_field :bottom_seats_count %>
    </div>

    <div class="field">
      <%= f.label :side_top_seats_count %><br>
      <%= f.text_field :side_top_seats_count %>
    </div>

    <div class="field">
      <%= f.label :side_bottom_seats_count %><br>
      <%= f.text_field :side_bottom_seats_count %>
    </div>

    <div class="actions">
      <%= f.submit "#{ @wagon.new_record? ? 'Создать' : 'Изменить' }" %>
      <% if !@wagon.new_record? %>
        <%= link_to 'Удалить', @wagon, method: :delete, data: { confirm: 'Вы уверены?' }%>
      <% end if %>
    </div>

<% end %>
