<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
    <strong>Кол-во вагонов:</strong><br>

    <strong>Купейных:</strong>
    <%= @train.compartment_wagon_count %><br>

    <% count_compartments_bottom_seats, count_compartments_top_seats, count_reserved_bottom_seats, count_reserved_top_seats = @train.count_seats %>

    <strong>Кол-во верхних мест:</strong>
    <%= count_compartments_top_seats %> <br>
    <strong>Кол-во нижних мест:</strong>
    <%= count_compartments_bottom_seats %> <br>

    <strong>Плацкартных:</strong>
    <%= @train.econom_wagon_count %><br>

    <strong>Кол-во верхних мест:</strong>
    <%= count_reserved_top_seats %> <br>
    <strong>Кол-во нижних мест:</strong>
    <%= count_reserved_bottom_seats %> <br>
</p>

<p>
  <strong>Вагоны</strong>
  <ul>
    <% @train.wagons.ordered(@train.sorting_order_flag).each do |wagon| %>
        <li><%= link_to "Вагон №#{wagon.number}", wagon %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Флаг сортировки:</strong>
  <%= @train.sorting_order_flag %>
</p>

<p>
  <%= link_to "Добавить вагон", new_train_wagon_path(@train) %>
</p>


+<%= link_to 'Редактировать', edit_user_ticket_path(@user, @ticket) %> |
+<%= link_to 'Назад', user_tickets_path(@user) %>
